{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Code borrowed from: https://bbbootstrap.com/snippets/bootstrap-ecommerce-shopping-cart-item-summary-44021562-->
<div class="album py-5 bg-light">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                     <!-- <div class="col align-self-center text-right text-muted">3 items</div>  -->
                </div>
            </div>
            <div class="row border-top border-bottom">
            {% if cart_items %}
              {% for item in cart_items %}
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="{{ item.product.product_image.url }}"></div>
                    <div class="col">
                        <div class="row text-muted">{{ item.product.category| capfirst }}</div>
                        <div class="row">{{ item.product.friendly_name }}</div>
                        <div class="row">Quantity: {{ item.quantity }}</div>
                    </div>
                    <div class="col"> 
                        <form action="{% url 'adjust_cart' item.item_id %}" method="POST" class="form">
                            {% csrf_token %}
                        <button class="decrement-qty btn rounded" 
                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                      -
                    </button>
                    <input class="form-control qty_input" type="number" name="quantity"
                                value="{{ item.quantity }}" min="1" max="20" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                <button class="increment-qty btn rounded"
                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                +
                            </button> 
                        </form>
                        <a href="" class="text-info update-link">Update</a>
                        
                    </div>
                    <div class="col">$ {{ item.product.price }} <span class="close"><a href="" class="text-danger remove-item" id="remove_{{ item.item_id }}">X Remove</a></span></div>
                </div>
                {% endfor %}
            </div>
            <a href="{% url 'products' %}" class="btn btn-outline-secondary btn-lg">Go back</a>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col text-right">&euro; 132.00</div>
            </div>             
            <td colspan="5" class="pt-5 text-right">
                <h6><strong>Cart Total: ${{ total|floatformat:2 }}</strong></h6>
                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                    {% if free_delivery_delta > 0 %}
                    <p class="mb-1 text-danger">
                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                    </p>
                    {% endif %}
                    <a href="" class="btn btn-outline-success">Checkout</a>
            </div> 
            <div class="row">
                <div class="col">
           </div>
           </div> 
            {% endif %}
        </div>
    </div>
</div>

<!--Code from Code Institute: Boutiqe Ado project-->

<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 20;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

        // Update quantity on click
        $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
