{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Code borrowed from: https://bbbootstrap.com/snippets/bootstrap-ecommerce-shopping-cart-item-summary-44021562-->
<div class="album py-5 bg-light">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                </div>
            </div>
            <div class="row border-top border-bottom">
           <div class="row">
               <div class="col-12 col-lg-6">
                   <h5 class="text-muted">
                       Fill out the form below to complete your order.
                   </h5>
               </div>
           </div>
            </div>
            <a href="{% url 'cart' %}" class="btn btn-outline-secondary btn-lg">Go back</a>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col text-right">&euro; 132.00</div>
            </div>             
            <td colspan="5" class="pt-5 text-right">
                <h6><strong>Cart Total: ${{ total|floatformat:2 }}</strong></h6>
                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                    <p class="mb-1 text-danger">
                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                    </p>
                    <a href="" class="btn btn-outline-success">Checkout</a>
            </div> 
            <div class="row">
                <div class="col">
           </div>
           </div>
        </div>
    </div>
</div>

{% endblock %}