html {
    height: 100%;
}
body {
background-color: rgba(255, 255, 255, 0.966);
font-family: 'Glory', sans-serif;
margin-top: 0.5rem;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, rgba(97, 93, 93, 0.5) 0%,rgba(0,0,0,0.5) 100%),
    url('https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1452&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat, no-repeat;
}

.navbar-background {
    background-color: rgba(143, 162, 153, 0.56);
}

.navbar-brand {
    color: #fafafa;
    font-size: 2rem;
    margin-left: 2rem;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 0.2rem 0.2rem rgba(108, 115, 112, 0.56);
}

.nav-item a {
    color: #020202;
    font-size: 1.2rem;
    font-weight: 500;
    transition: font-size 0.3s ease;
}

.nav-item {
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: rgba(238, 240, 239, 0.76);
    font-size: 1.4rem;
}

.nav-item a:hover {
  font-size: 1.3rem;
}

.search input {
    width: 10rem;
}


/*** Code from https://bbbootstrap.com/snippets/bootstrap-ecommerce-shopping-cart-item-summary-44021562***/

.title {
    margin-bottom: 5vh
}

 .card {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
} 

@media(max-width:767px) {
    .card {
        margin: 3vh auto
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65)
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}

.summary .col-2 {
    padding: 0
}

.summary .col-10 {
    padding: 0
}

.row {
    margin: 0
}

.title b {
    font-size: 1.5rem
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

.col-2,
.col {
    padding: 0 1vh
}

a {
    padding: 0 1vh
}

.close {
    margin-left: auto;
    font-size: 0.7rem
}

img {
    width: 3.5rem
}

.back-to-shop {
    margin-top: 4.5rem
}

h5 {
    margin-top: 4vh
}

hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none;
}

.btn:hover {
    color: white
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none
}

/**** ENDS HERE */
