{% extends "base.html" %}
{% load static %}


{% block content %}
<!---Code copied from Bootstap documentation: "https://getbootstrap.com/docs/4.0/examples/album/"-->
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for product in products %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            {% if product.product_image %}
            <img class="card-img-top" src="{{ product.product_image.url }}" alt="Card image cap">
            {% else %}
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h4 class="d-flex justify-content-between align-items-center">{{ product.friendly_name }}</h4>
                <p class="card-text justify-content-between align-items-center">{{ product.category }}</p>
              <p class="card-text">{{ product.description|slice:"50" }}...</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-secondary" role="button">View Product</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        {% endblock %}

{% load static %}