{% extends "base.html" %}
{% load static %}
{% block extra_title %}| {{ product.friendly_name }}{% endblock %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container-fluid">
        <main class="pt-5">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 shadow bg-body rounded">
                    <div class="row justify-content-between">
                        <div class="card col-12" style="width: 12rem;">
                            <img src="{{ product.product_image.url }}" class="card-img-top" alt="Product detailed image"
                                width="200" height="200">
                            {% for images in product.image_set.all %}
                            <img src="{{ images.image.url }}" class="card-img-top" alt="Product detailed image"
                                width="200" height="200">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <h1>{{ product.friendly_name }}</h1>
                    <h4>{{ product.category }}</h4>
                    <div class="col-12"><span class="h4 fw-bold">$ {{ product.price }}</span></div>
                    <p>{{ product.description|slice:"1000" }}</p>
                    <small class="text-muted">
                        {% if request.user.is_superuser %}
                        <a href="{% url 'edit_product' product.id %}" class="">Edit</a>
                        <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                    </small>
                    {% endif %}
                    <form action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group prepend">
                            <strong><label for="select">Quantity</label></strong>
                            <div class="input-group">
                                <div class="col-3">
                                    <!--- Borrowed partly from the Boutiqe Ado project-->
                                    <div class="row">
                                        <div class="input-group-prepend col-6">
                                            <button class="decrement-qty btn rounded" data-item_id="{{ product.id }}"
                                                id="decrement-qty_{{ product.id }}">
                                                -
                                            </button>
                                        </div>
                                        <div class="input-group-append col-6">
                                            <button class="increment-qty btn rounded" data-item_id="{{ product.id }}"
                                                id="increment-qty_{{ product.id }}">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="20" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-6">
            <input type="submit" class="btn btn-outline-success" value="Add to cart">
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
    </div>
    </form>
    <div class="row">
        <h3 class="text-black">Review this!</h3>
        {% if user.is_authenticated %}
        <div class="col-6 md-6 sm-12">
            <form action="{% url 'add_review' product.id %}" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <h5>Add your review below.</h5>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" placeholder="Title" required>
                    <br>
                    <textarea name="review" rows="10" class="form-control" placeholder="Your review"
                        required></textarea>
                    <br>
                    <button class="btn btn-success" type="submit">Add your review!</button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="col-6">
            <h5 class="text-black">Log in to add a review!</h5>
            <a class="btn" href="{% url 'account_login' %}">Log In</a>
            <a class="btn" href="{% url 'account_signup' %}">Register</a>
        </div>
        {% endif %}
        <div class="col-6">
            <h3 class="text-black">Product Reviews</h3>
            {% for review in product.review.all %}
            <div class="col-6 col-lg-12">
                <p>{{review.review}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
</main>
</div>
</div>
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}